body {
    margin: 0;
    background: #111;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

#scene {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#ui {
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
    display: flex;
    gap: 20px;
}

.panel {
    background: rgba(30,30,30,0.8);
    padding: 15px;
    border-radius: 10px;
    width: 230px;
}
