body {
    font-family: sans-serif;
    text-align: center;
    background: #f3f3f3;
}

#grid {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 3px;
}

.cell {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.agent {
    background: #4CAF50 !important;
    color: white;
    font-weight: bold;
}

.goal {
    background: orange !important;
    color: white;
    font-weight: bold;
}
